/* #region Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Media */
img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

/* Forms */
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

button,
label {
  cursor: pointer;
}

address {
  font-style: normal;
}

/* Accessibility */
:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

/* #endregion reset */

/* #region Common */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-inline: 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-inline: 15px;
  }
}

/* #endregion common */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding-block: 16px;
}

.header-logo .logo-span {
  color: #2e2f42;
}

.mobile-menu-btn {
  color: #404bbf;
}

.mobile-menu-icon {
  fill: #2f2f37;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover .mobile-menu-icon,
.mobile-menu-btn:focus .mobile-menu-icon {
  fill: #404bbf;
}

.nav-list,
.address {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-wrap {
    display: flex;
    justify-content: space-between;
  }

  .header-nav {
    justify-content: flex-start;
  }

  .header-logo {
    padding-block: 24px;
    margin-right: 120px;
  }

  .mobile-menu-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding-block: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .nav-link::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after,
  .nav-link:focus:after,
  .nav-link.current::after {
    transform: scaleX(1);
  }

  .address {
    display: flex;
    align-items: center;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-item {
    line-height: 0;
  }

  .address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .address-link:hover,
  .address-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-block: 24px;
    display: block;
  }
}
/* #endregion header */

/* #region Mobile menu */
.mobile-menu {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-container {
  height: 100%;
  padding: 72px 16px 40px;
  display: flex;
  flex-direction: column;
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-close-btn:hover,
.mobile-close-btn:focus {
  background-color: #404bbf;
  border-color: #404bbf;
  outline: none;

  & .mobile-close-icon {
    fill: #fff;
  }
}

.mobile-close-icon {
}

.mobile-nav {
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-item {
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-adress {
  margin-top: auto;
  margin-bottom: 48px;
}

.mobile-adress-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-adress-item {
}
.mobile-adress-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-adress-link:hover,
.mobile-adress-link:focus,
.mobile-adress-link.current {
  color: #4d5ae5;
}

.mobile-socials {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
}

.mobile-socials-item {
}

.mobile-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  outline: none;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-socials-link:hover,
.mobile-socials-link:focus {
  transform: scale(1.1);
  background-color: #404bbf;
}

.mobile-socials-icon {
  fill: #f4f4fd;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion mobile menu */
